*{
    box-sizing: border-box;
}

body{
max-width: 1400px;
min-width: 200px;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
       display: grid;
       grid-template-areas: "header" "main" "footer"; 
}

header{
    background-color: rgb(18, 123, 228);
    
}

header nav div{
    display: flex;
    justify-content: space-between;
    position: relative;
    color:white;
    width: 100%;
    
}

header img{
    display: flex;
    border: 1px;
    border-radius: 4px;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}



main nav{
    display: flex;
    flex-direction: inline;
    background-color:rgb(196, 201, 205);
    
    
}

main nav div{
    display: flex;
    flex-direction: column;
    list-style: none;
    color:rgb(0, 0, 0);
    text-decoration: none;
    gap: 0.5rem;
}

footer{
    display: grid;
    
}

footer h1{
    display:grid;
    font-size:90px;
}

footer h2{
    font-size: 30px;
    text-align: left;
}



footer section img{
    float: center;
    width: 100%;
}

footer section{
    display: flex;
    float: inline;
    width: 33.33%;
    padding: 5px;
    text-align: center;
  }

  footer section article{
    display: table;
    width: 100%;
    flex: 33.33%;
    padding: 5px;
    
  }

.container {
    position: relative;
    width: 50%;
}

.container img {
    max-width: 1400px;
    min-width: 200px;
    height: auto;
    width: 100%;
  }

.container .black-btn {
    position: absolute;
    top: 70%;
    left: 80%;
    background-color: #ffffff;
    color: rgb(22, 22, 22);
    font-size: 20px;
    padding: 15px 17px;
    border:#ffffff;
    cursor: pointer;
    border-radius: 5px;
  }


  .grid-container {
    display: flex;
    float: inline;
    width: 100%;
    padding: 1rem;
    
  }

  @media only screen and (min-width:600px){
    footer section{
        overflow: hidden;
        max-width: 1260px;
        width: 100%;
        margin: 0 auto;
    }
    footer article{
        float: left;
        margin: 10px;
    }
  }

 



